

/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1342px) {}

@media (min-width: 992px) and (max-width: 1199px) {
    .book_room h1 {
        font-size: 28px;
    }
    .carousel-indicators {
        bottom: 17px;
    }
    .about_img {
        margin-right: 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        margin: 0 10px;
    }
    .book_room h1 {
        font-size: 19px;
    }
    .carousel-indicators {
        bottom: 27px;
    }
    .about_img {
        margin-right: 0px;
    }
    .book_btn {
        padding: 5px 0;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .header {
        height: auto;
    }
    .carousel-indicators {
        bottom: 27px;
    }
    .about .titlepage {
        max-width: inherit;
    }
    .about_img {
        margin-right: 0px;
        margin-top: 30px;
    }
    .main_form .send_btn {
        margin-bottom: 30px;
    }
    ul.link_menu {
        margin-bottom: 20px;
    }
    .d_none {
        display: none;
    }
}

@media (max-width: 575px) {
    .logo {
        text-align: left !important;
        padding-bottom: 0;
        float: none;
    }
    .header {
        height: auto;
    }
    .book_room h1 {
        font-size: 20px;
        line-height: 25px;
        padding-bottom: 15px;
    }
    .book_now .online_book {
        margin-bottom: 20px;
    }
    .book_btn {
        padding: 5px 0;
    }
    .about .titlepage {
        max-width: inherit;
    }
    .about_img {
        margin-right: 0px;
        margin-top: 30px;
    }
    .main_form .send_btn {
        margin-bottom: 30px;
    }
    ul.link_menu {
        margin-bottom: 20px;
    }
    .d_none {
        display: none;
    }
}
